@font-face {
    font-family: Iranyekan;
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/iranyekanwebregular.eot");
    src:
     url("/assets/fonts/iranyekanwebregulard41d.eot?#iefix") format("embedded-opentype"),
     url("/assets/fonts/iranyekanwebregular.woff") format("woff"),
     url("/assets/fonts/iranyekanwebregular.ttf") format("truetype");
}